@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.header{
    margin: 5vh 10vw 15vh 10vw;
    height: 10vh;
    border-bottom: 1px solid rgb(179, 179, 179);

    #title{
        margin: 0;
        display: inline-block;
        font-family: sans-serif;
    }

    a{
        text-decoration: none;
        float: right;
        margin : 5px;
        border: 1px solid rgb(173, 173, 173);
        border-radius: 5px ;
        color: white;
        cursor: pointer;
        font-family: sans-serif;

        
        &:hover{
            filter: brightness(90%);
        }
    } 

    #add{
        padding: 8px 12px;
        background-color: rgb(196, 196, 196);
    }

    #delete{
        padding: 8px 16px;
        background-color: rgb(207, 39, 39);
    }
}
  

.footer{
      width: 75%;
      margin: 5vh auto;
      text-align: center;
      border-top: 1px solid rgb(179, 179, 179);
      font-family: 'Bebas Neue', cursive, sans-serif;
      letter-spacing: 1.5px;  
      
      p{
          font-size: 12px;
        }
    
    }

    .logo{
        width: 2rem;
        height: auto;
        border-radius: 50%;
        border: 1px solid black;
        opacity: 50%;
        background-color: black;
        animation: anime-rotate 10s linear infinite;
        display: block;
        margin: -1em auto;

        &:hover{
            background-color: rgb(207, 39, 39);
            border: 1px solid red;
        }
    }
    
    @keyframes anime-rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
/* Media Query: Large Smartphone */
@media screen and (max-width: 700px){
    .header{
        width: 75%;
        height: 5vh;
        h1{
            font-size: 20px;
        }
        a{
            font-size: 20px;
        }

        #add{
            padding: 1px 1px;
            font-size: 10px;
        }
        #delete{
            padding: 1px 1px;
            font-size: 10px;
        }
    }
}