@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.header {
  margin: 5vh 10vw 15vh 10vw;
  height: 10vh;
  border-bottom: 1px solid rgb(179, 179, 179);
}
.header #title {
  margin: 0;
  display: inline-block;
  font-family: sans-serif;
}
.header a, .header button {
  text-decoration: none;
  float: right;
  margin: 5px;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
}
.header a:hover, .header button:hover {
  filter: brightness(90%);
}
.header #add {
  padding: 6.5px 14px;
  background-color: rgb(196, 196, 196);
}
.header #delete {
  padding: 8.1px 16px;
  background-color: rgb(207, 39, 39);
}
.header #save {
  padding: 9.5px 16px;
  background-color: rgb(31, 102, 255);
}
.header #back {
  padding: 8px 16px;
  background-color: rgb(207, 39, 39);
}

.group {
  display: inline-block;
  flex-direction: column;
}
.group label {
  font-size: 0.9rem;
}
.group input {
  border: 1px solid #ccc;
  transition: 0.2s;
  border-radius: 2px;
  margin: 1rem 0 0.6rem 1rem;
}
.group input:focus {
  outline: none;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}
.group input:focus:valid {
  border: 1px solid rgb(10, 168, 10);
}
.group input:focus:invalid {
  border: 1px solid rgb(207, 39, 39);
}

.add-product {
  margin: -13vh 0 0 10vw;
  letter-spacing: 1px;
}
.add-product .form-group {
  display: inline-block;
  width: 30%;
  height: 50px;
}
.add-product .form-group .switch label {
  margin-right: 1em;
}
.add-product .form-group .switch .select-product {
  margin-top: 1em;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.add-product .form-group .dvd-input {
  display: flex;
  flex-direction: column;
}
.add-product .form-group .dvd-input .warning-label {
  font-weight: bold;
  font-size: 0.7rem;
  margin-top: 2rem;
}
.add-product .form-group .book-input {
  display: flex;
  flex-direction: column;
}
.add-product .form-group .book-input .warning-label {
  font-weight: bold;
  font-size: 0.7rem;
  margin: 1rem 0 1rem 0;
}
.add-product .form-group .dimensions {
  display: flex;
  flex-direction: column;
}
.add-product .form-group .dimensions .dimensions-attribute .form-input {
  width: 70px;
}
.add-product .form-group .dimensions .warning-label {
  font-weight: bold;
  font-size: 0.7rem;
  margin: 1rem 0 1rem 0;
}

#DVD, #Furniture, #Book {
  display: none;
}

.product-preview {
  width: 90%;
  margin: -15vh 5vw 0 5vw;
  justify-content: center;
  align-items: center;
}
.product-preview .preview {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 4rem;
  border-radius: 0.3em;
}
.product-preview .preview .product-item {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px 20px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  overflow: hidden;
}
.product-preview .preview .product-item:hover {
  transform: scale(1.05);
}
.product-preview .preview .product-item .delete-checkbox {
  margin: 0;
  cursor: pointer;
}
.product-preview .preview .product-item ul {
  list-style-type: none;
}
.product-preview .preview .product-item li {
  margin-right: 2.3rem;
  text-align: center;
}

.footer {
  width: 75%;
  margin: 5vh auto;
  text-align: center;
  border-top: 1px solid rgb(179, 179, 179);
  font-family: "Bebas Neue", cursive, sans-serif;
  letter-spacing: 1.5px;
}
.footer p {
  font-size: 12px;
}
.footer svg {
  width: 2rem;
  height: auto;
  border-radius: 50%;
  border: 1px solid black;
  opacity: 50%;
  background-color: black;
  -webkit-animation: anime-rotate 10s linear infinite;
          animation: anime-rotate 10s linear infinite;
  margin: auto;
}
.footer svg:hover {
  background-color: rgb(207, 39, 39);
  border: 1px solid red;
}
@-webkit-keyframes anime-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes anime-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Query: Large Smartphone */
@media screen and (max-width: 700px) {
  .header {
    width: 75%;
    height: 5vh;
  }
  .header h1 {
    font-size: 20px;
  }
  .header a, .header button {
    font-size: 20px;
  }
  .header #add {
    padding: 1px 1px;
    font-size: 10px;
  }
  .header #delete {
    padding: 1px 1px;
    font-size: 10px;
  }
  .header #back {
    padding: 1px 1px;
    font-size: 10px;
  }
  .header #save {
    padding: 1px 1px;
    font-size: 10px;
  }
}/*# sourceMappingURL=styles.css.map */